header {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
}
.header-container {
  padding: 10px;
  display: flex;
  background-color: rgb(23 93 220);
}
.header-container ul {
  list-style: none;
}
.header-container ul li a {
  text-decoration: none;
  color:white;
}