body {
  margin-top:125px;
  margin-inline: 0;
  margin-bottom:0;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
}
.banner {
  background-color: rgb(26 59 102);
}
.banner-container {
  margin-inline: 3rem;
  line-height: 1rem;
  text-align: center;
  padding-bottom: 13.5px;
  padding-top: 9px;
  color:white;
}
.header-container {
  display: flex;
  background-color: rgb(23 93 220);
  max-width: 80rem;
  justify-content: space-between;
  margin-inline: auto;
}
.header-container ul {
  list-style: none;
}
.header-container ul li a {
  text-decoration: none;
  color:white;
}
.nav-left {
  display: flex;
}
.nav-left h1  {
display: flex;
align-items: center;
margin: 0;
}
.nav-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}
.nav-left ul li {
 padding-inline: 10px;
}
.nav-right {
  display: flex;
  padding: 10px;
}
.nav-right li {
  padding: 10px;
  }
  .hero {
    background-color: rgb(23 93 220);
    color:white;
  }
  .hero a {
    color: white;
    text-decoration: none;
    outline: 2px solid white;
    border-radius: 3px;
    padding: 10px;
  }
  .hero-container {
    padding-top: 1rem;
    padding-bottom: 7rem;
    padding-inline: 6rem;
  }
  .learnmore-banner {
    background-color: rgb(26 59 102);
    color: white;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

  }
  .salepitch-container {
    margin-inline:8rem;
    margin-bottom: 8rem;
  }
  .salepitch-container h2 {
    text-align: center;
    padding: 2.5rem;
  }
  .salepitch-inner-container {
    display: flex;
    margin-inline: auto;
  }
  .salepitch-inner-container p {
    text-align: center;
  }
  .salepitch-inner-container h4 {
    font-weight: bold;
    text-align: center;
  }
 .secondary-title {
  font-weight: bold;
 }
 .customers {
  background-color: #ecf0f5 ;
  padding-top:5rem;
  padding-bottom: 5rem;
 }
 .customers-container {
 display: flex;
flex-direction: column;
align-items: center;

 }
.customers-inner-container {
  display: flex;
  margin-top:4rem;
  max-width: 60rem;
}
.trial-banner {
  background-color: #1252a3;
  color: white;
  padding: 36px;
}
.trial-banner-container {
width: 100%;
display: flex;
align-items: center;
flex-direction: column;

}
.trial-button {
  background-color: #27ff75;
  border-radius: 5px;
  padding: .8rem;
  text-decoration: none;
  color: #1252a3;
  font-weight: 500;
}
.features-container {
  display: flex;
  margin-inline: 10rem;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 32rem;
}
.features-container h2 {
 margin-bottom: 1.5rem;
}
.features-container p {
  margin-bottom: 1.5rem;
 }
 .report {
  background-color: #1252a3;
  color: white;
}
.report-container {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: left;
}
footer {
  background-color: rgb(26 59 102);
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.footer-container {
  display: flex;
}
.footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.footer-wrapper li {
  list-style: none;
}
.footer-wrapper li a {
  text-decoration: none;
  color: white;
}
.footer-heading {
  border-bottom: 1px solid grey;
}